---

---

<div class="container">
  <section class="text_section">
    <h2>CLEAN ECOFRIENDLY MATERIALS</h2>
    <p>
      We carefully select raw materials with minimum environmental impact. FSC
      certification ensures that paper products and packages made to ecofriendly
      standards. Hence, cardboard boxes, pallets, adhesive tape and bio film we
      use are environmentally friendly and biodegradable.
    </p>
    <span>- Reducing carbon emmissions by 90%</span>
    <p>
      In addition to PVC compound, we use bio-vinyl and recycled plastic in
      record production. Providing the same visual and audible quality as
      conventional plastic, bio vinyl is fossil-fuel free - reducing carbon
      emissions by 90%.
    </p>
    <p>
      The raw materials we choose for production do not impede efficiency or
      quality of the final product. In turn, our customers value the finesse
      visual aesthetic of cover artwork and high definition sound on vinyl made
      sustainably.
    </p>
  </section>
  <div class="img_container">
    <img src="/ecofriendlymats.webp" alt="" />
  </div>
</div>
<style>
  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--secondary-color);
  }

  .text_section {
    padding: 20px;
  }
  .img_container {
    width: 100%;
  }

  img {
    max-width: 100%;
  }

  span {
    color: var(--accent-color);
  }

  @media (min-width: 768px) {
    .container {
      flex-direction: row;
      justify-content: space-around;
      align-items: center;

      height: 70vh;
    }

    .text_section {
      width: 35%;
      line-height: 1.8;
      font-size: 24px;
    }

    .img_container {
      width: auto;
    }
  }
</style>
