---

---

<div>
  <h1>SUSTAINABLE RECORD PRESSING</h1>
</div>
<style>
  .link-card {
  }

  /* Der er sat width på her så word-break kan skille sætningen ad i tre ord på tre linjer */
  /* word-break virker kun hvis sætningen er har længere width end den container den er i */
  h1 {
    width: auto;
    line-height: 1.5;
    word-break: normal;
    padding: 0 20px;
    text-align: center;
    font-size: clamp(40px, 4vw, 96px);
    color: var(--secondary-color);
  }

  div {
    background-image: url("/sustainableintroimg.webp");
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 80px 0;
  }

  @media (min-width: 768px) {
    div {
      justify-content: center;
      text-align: center;
    }

    p {
      font-size: 100px;
    }
  }
</style>

<!-- Eksempel på komponent  -->
