---

---

<div class="container">
  <section class="text_section reveal delay1">
    <h1>Traits of responsible value chain</h1>
    <ul>
      <li>Safe management of hazardous waste</li>
      <li>Green energy infrastructure</li>
      <li>Zero emission logistics</li>
      <li>Continuous investment in sustainability</li>
      <li>Carbon neutral operation</li>
    </ul>
  </section>
  <section class="text_section reveal delay2">
    <h1>CARBON NEUTRAL MODERN VALUE CHAIN</h1>
    <p>
      We take pride in working with responsible suppliers that take an extra
      step towards the sustainable future. A continual development in energy
      conservation, recycling and water management is the core strategy of RPM's
      supply chain. Our paper production operates 100% carbon neutral. The
      research and development in sustainable paper making allow our customers
      to enjoy high quality artwork on wood-free or recycled paper. Furthermore,
      Danish green energy infrastructure makes it possible to produce premium
      quality records entirely on wind power.
    </p>
  </section>
  <section class="text_section reveal delay3">
    <h1>SUSTAINABLE ELECTROPLATING</h1>
    <p>
      The modern electroplating facility ensures safe management of hazardous
      waste. This is crucial as industrial wastewater contains toxic elements
      that are harmful and must be appropriately removed. We are sensitive to
      the carbon footprint of logistics and transportation. Thus, our road
      freight is zero emissions, driven by electric vehicles in the Nordic
      region and EU.
    </p>
  </section>
</div>
<style>
  .container {
    background: var(--tertiary-color);
    padding: 20px;
  }

  .text_section {
    background: var(--secondary-color);
    color: var(--primary-color);
    border: 3px solid var(--primary-color);
    box-shadow: 4px 6px 5px 0px rgba(0, 0, 0, 1);
    padding: 20px;
    margin: 40px 0;
    font-size: 25px;
  }

  @media (min-width: 768px) {
    .container {
      display: flex;
      justify-content: space-around;
    }

    .text_section {
      width: 600px;
    }
  }
</style>
