---

---

<div>
  <p>100% RECYCLED PLASTIC</p>
</div>
<style>
  .link-card {
  }

  /* Der er sat width på her så word-break kan skille sætningen ad i tre ord på tre linjer */
  /* word-break virker kun hvis sætningen er har længere width end den container den er i */
  p {
    width: auto;
    line-height: 1.5;
    word-break: normal;
    padding: 0 20px;
    font-size: 44px;
    color: var(--secondary-color);
  }

  div {
    background-image: url("/recycledplastic.webp");
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin: 100px 0;
  }

  @media (min-width: 768px) {
    div {
      justify-content: center;
      text-align: center;
    }

    p {
      font-size: 100px;
    }
  }
</style>

<!-- Eksempel på komponent  -->
