---

---

<div class="container">
  <div class="img_container">
    <img src="/frontpageimg.png" alt="" />
  </div>
  <div class="text_container">
    <section class="text_section">
      <h1>CARBON NEUTRAL MODERN VALUE CHAIN</h1>
      <p>
        We take pride in working with responsible suppliers that take an extra
        step towards the sustainable future. A continual development in energy
        conservation, recycling and water management is the core strategy of
        RPM's supply chain.
      </p>
      <p>
        Our paper production operates 100% carbon neutral. The research and
        development in sustainable paper making allow our customers to enjoy
        high quality artwork on wood-free or recycled paper. Furthermore, Danish
        green energy infrastructure makes it possible to produce premium quality
        records entirely on wind power.
      </p>
    </section>
    <section class="text_section">
      <h1>Sustainable Electroplating</h1>
      <p>
        The modern electroplating facility ensures safe management of hazardous
        waste.This is crucial as industrial wastewater contains toxic elements
        that are harmful and must be appropriately removed.
      </p>
      <p>
        We are sensitive to the carbon footprint of logistics and
        transportation. Thus, our road freight is zero emissions, driven by
        electric vehicles in the Nordic region and EU.
      </p>
    </section>
  </div>
</div>
<style>
  .container {
    margin: 150px 0;
  }

  .text_section {
    padding: 20px;
  }

  .text_section p {
    line-height: 1.8;
  }

  .img_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    max-width: 70%;
  }

  @media (min-width: 768px) {
    .container {
      display: flex;
      justify-content: space-around;
    }

    .text_container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .text_section {
      width: 50%;
    }

    img {
      height: 600px;
    }
  }
</style>
