---
const { href, tekst, farve, tekstFarve } = Astro.props;
---

<div class=`button_wrapper stroke dropShadow ${farve}` id="buttonId">
  <a href={href}>
    <button class=`quote-button ${tekstFarve}`>{tekst}</button>
  </a>
  <img src="/arrow-right.svg" alt="" class="button-icon hide" id="arrow_icon" />
</div>

<style>
  .button_wrapper {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.3s ease-in-out all;
  }

  .quote-button {
    color: var(--secondary-color);
  }

  .button_wrapper:hover,
  .button_wrapper:focus {
    background-color: #f04333;
    transition: 0.3s ease-in-out all;
  }

  .roed {
    background-color: var(--accent-color);
  }

  .sort {
    background-color: var(--primary-color);
  }

  .sortTekst {
    color: var(--primary-color);
  }

  .hvidTekst {
    color: var(--secondary-color);
  }

  @media (min-width: 768px) {
    .button_wrapper {
      max-width: fit-content;
      min-width: 180px;
    }
  }
</style>
