@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: 'fjalla_one';
  src: url('fjallaone-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat_bold';
src: url('/Montserrat-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat_regular';
src: url('/Montserrat-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat_italic';
src: url('/Montserrat-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


:root {
  --primary-color: #161616;
  --secondary-color: #ffffff;
  --accent-color: #FD8C8A;
  --tertiary-color: #546f55;

  /* Font størrelser */
  --h1-fontsize: clamp(40px, 4vw, 80px);
  --h2-fontsize: clamp(24px, 4vw, 34px);
  --h3-fontsize: clamp(20px, 4vw, 28px);
  --p-fontsize: clamp(16px, 2vw, 20px);
  --button-fontsize: 20px;

  /* Afstande */
  --padding-large: 80px;
  --padding-medium: 40px;
  --padding-small: 32px;

  /* style // border radius */
  --border-radius: 2px;
  --stroke-effect: solid 2px #161616;
  --drop-shadow: 8px 8px #161616;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: var(--primary-color);
  font-family: sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 40px;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

video {
  aspect-ratio: 16/9;
}

/* h1, h2, h3, h4, p, a {
  color: var(--secondary-color);
} */


h1, h2, h3, h4, button {
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: var(--h1-fontsize);
}

h2 {
  font-size: var(--h2-fontsize);
  margin-bottom: 16px;
}

h3 {
  font-size: var(--h3-fontsize);
  margin-bottom: 16px;
}

p, a, ul, li, .links, .menuButton {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

a {
  all: unset;
  cursor: pointer;
  text-decoration: none;
}

p {
  font-size: var(--p-fontsize);
  line-height: 1.6;
  margin-bottom: 16px;
}

li {
  list-style-position: inside;
}

button {
  border: 0;
  padding: 0;
  background: transparent;
  font-size: 1.5rem;
}

.button-icon {
  height: 32px;
  width: 32px;
}

.button_wrapper {
  display: flex;
}

.hide {
  display: none;
}

.parallaxLayer {
  position: relative;
  z-index: 3;
}

.accent_color {
  color: var(--accent-color);
}

.dropShadow {
  filter: drop-shadow(var(--drop-shadow));
}

.stroke {
  border: var(--stroke-effect);
}

@media (max-width: 768px) {

}

.reveal {
  position: relative;
  transform: translateX(-450px);
  opacity: 0;
  transition: 2s all ease;
}

.reveal.active {
  transform: translateX(0);
  opacity: 1;
}

.delay1 {
  transition-delay: 1s;
}

.delay2 {
  transition-delay: 2.5s;
}

.delay3 {
  transition-delay: 4s;
}