:root {
  --primary-color: #181818;
  --secondary-color: #ffffff;
  --accent-color: #e55e5b;
  --tertiary-color: #546f55;

  /* Font størrelser */
  --title-font: ;
  --h1-desktop: ;
  --h2-desktop: ;
  --h3-desktop: ;
  --p-desktop: 20px;
  --h1-mobile: ;
  --h2-mobile: ;
  --h3-mobile: ;

  /* Afstande */
  --padding-desktop1: 80px;
  --padding-desktop2: 40px;
  --padding-desktop3: 32px;

}

html {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-family: sans-serif;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1, h2, h3, h4, p, a {
  color: var(--secondary-color);
}

h1 {
  font-size: clamp(32px, 4vw, 80px);
}

h2 {
  font-size: 34px;
}

h3 {
  font-size: 28px;
}

p {
  font-size: var(--p-desktop);
  line-height: 1.6;
}
