---
import Knap from "../ReusableComponents/KnapPrimary.astro";
---

<section>
  <div class="container">
    <div class="top_container dropShadow stroke">
      <div class="tekst_wrapper">
        <h2>MASTERING FOR VINYL</h2>
        <p>
          Mastering is essential for the vinyl format in order to avoid
          distortion and mechanical playback issues and, generally, to make the
          record sound as good as possible. If your music is not mastered or
          needs re-mastering, we highly recommend ordering professional
          mastering services with us.
        </p>
        <ul>
          <li>
            Mastering from various formats: CD, tape, DAT, or digital files.
          </li>
          <li>Convert a digital master to a vinyl pre-master.</li>
          <li>Analog / digital in-depth mastering with high-end equipment.</li>
          <li>Attended mastering and cutting session in Copenhagen.</li>
        </ul>
        <Knap
          href="https://www.rpmrecords.dk/blog/quality-record-pressing/?_gl=1*onx35d*_ga*MTY4OTUwMTg5MC4xNzE0NDc1MjY0*_ga_7YLH9K4F8V*MTcxNjk5NTIxNC4yOC4xLjE3MTY5OTY5MzkuNTkuMC4xODEwOTg1MzEz*_gcl_au*MTEyNDM5ODg2OS4xNzE2OTk2MTU1"
          tekst="Learn More"
          tekstFarve="hvidTekst"
          farve="sort"
        />
      </div>
      <img
        src="/masteringforvinyl.webp"
        alt=" Et billede af en vinyplade ved siden af små stykker vinyl"
      />
    </div>
    <div class="lower_wrapper">
      <div class="left_container dropShadow stroke">
        <div class="left_img">
          <img src="/audiospec4.webp" alt="Vinyl produktions process" />
          <img
            src="/audiospec5.webp"
            alt="Et billede der viser de forskellige formater indenfor vinyler"
          />
        </div>
        <h2>REFERENCE CUT</h2>
        <p>
          If you are unsure about the mixing and mastering quality, we recommend
          ordering one copy reference cut on acetate. Reference cut is an
          excellent and inexpensive way to learn how your program material will
          translate to the vinyl format.
        </p>
      </div>
      <div class="right_container dropShadow stroke">
        <h2>MASTERPLATES & STAMPERS</h2>
        <p>
          We can press from both lacquer and DMM (Direct Metal Mastering) master
          plates. If you have a specific preference, would that be lacquer or
          DMM, please let us know when placing your order.
        </p>
        <p>Have a question? Please write us here!</p>
        <Knap
          href="mailto:audio@rpmrecords.dk"
          tekst="Contact Us"
          tekstFarve="hvidTekst"
          farve="sort"
        />
      </div>
    </div>
  </div>
</section>

<style>
  h2,
  p,
  ul,
  li {
    color: var(--primary-color);
  }

  li {
    margin-bottom: 8px;
  }
  .container {
    display: grid;
    background-image: url(/img/rpm_purple_bg.webp);
    background-repeat: no-repeat;
    height: auto;
    width: 100%;
    padding: 80px 16px;
    gap: 16px;
  }

  .lower_wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
  }

  .top_container,
  .right_container,
  .left_container {
    background-color: var(--secondary-color);
    padding: 32px;
  }

  .top_container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 32px;
  }

  .left_container {
    display: grid;
  }

  .left_img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    width: 100%;
    height: auto;
    margin-bottom: 16px;
  }

  .left_img img {
    object-fit: contain;
  }

  @media (min-width: 768px) {
    .container {
      padding: 80px 160px;
      gap: 16px;
    }
    .top_container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      gap: 32px;
    }
    .lower_wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 16px;
    }
  }
</style>
