---
import KnapPrimary from "../ReusableComponents/KnapPrimary.astro";
---

<section>
  <div class="container">
    <div class="top_container dropShadow stroke">
      <div class="tekst_wrapper">
        <h2>MASTERING FOR VINYL</h2>
        <p>Mastering is essential for the vinyl format in order to avoid distortion and mechanical playback issues and, generally, to make the record sound as good as possible. If your music is not mastered or needs re-mastering, we highly recommend ordering professional mastering services with us.</p>
        <ul>
          <li>Mastering from various formats: CD, tape, DAT, or digital files.</li>
          <li>Convert a digital master to a vinyl pre-master.</li>
          <li>Analog / digital in-depth mastering with high-end equipment.</li>
          <li>Attended mastering and cutting session in Copenhagen.</li>
        </ul>
      </div>
      <img src="/public/masteringforvinyl.webp" alt="" />
    </div>
    <div class="lower_wrapper">
      <div class="left_container dropShadow stroke">
        <div class="left_img">
          <img src="/public/referencecut1.jpg" alt="" />
          <img src="/public/referencecut2.jpg" alt="" />
        </div>
        <h2>REFERENCE CUT</h2>
        <p>If you are unsure about the mixing and mastering quality, we recommend ordering one copy reference cut on acetate. Reference cut is an excellent and inexpensive way to learn how your program material will translate to the vinyl format.</p>
      </div>
      <div class="right_container dropShadow stroke">
        <h2>MASTERPLATES & STAMPERS</h2>
        <p>We can press from both lacquer and DMM (Direct Metal Mastering) master plates. If you have a specific preference, would that be lacquer or DMM, please let us know when placing your order.</p>
        <p>Have a question? Please write us here!</p>
      </div>
    </div>

    <img src="" alt="" />
  </div>
</section>

<style>
  h2,
  p,
  ul,
  li {
    color: var(--primary-color);
  }

  li {
    margin-bottom: 8px;
  }
  .container {
    display: grid;
    background-image: url(/public/img/rpm_purple_bg.webp);
    background-repeat: no-repeat;
    height: auto;
    width: 100%;
    padding: 80px 16px;
    gap: 16px;
  }

  .lower_wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
  }

  .top_container,
  .right_container,
  .left_container {
    background-color: var(--secondary-color);
    padding: 32px;
  }

  .top_container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 32px;
  }

  .left_container {
    display: grid;
  }

  .left_img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    width: 100%;
    height: auto;
    margin-bottom: 16px;
  }

  .left_img img {
    object-fit: contain;
  }

  @media (min-width: 768px) {
    .container {
      padding: 80px 160px;
      gap: 16px;
    }
    .top_container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      gap: 32px;
    }
    .lower_wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 16px;
    }
  }
</style>
