---
import LinkButton from "../ReusableComponents/LinkButton.astro"
---
<div class="vinyl_info_container">
    <section class="text_section">
        <h1>PLAYBACK TIME / VINYL LENGTH</h1>
        <p>
            Loudness and frequency spectrum directly affect playback times on a vinyl record. 
            Extended playback times may result in the loss of low-end, low volumes and poor quality. 
            For the best quality results, please keep your record sides below 20 minutes.
        </p>
        <p>Recommended playback time for a standard vinyl record:</p>
        <ul>
            <li>12″ 33 RPM - up to 22 minutes per side</li>
            <li>12″ 45 RPM - up to 15 minutes per side</li>
        </ul>
        <LinkButton title="Learn more" />
    </section>
    <section class="text_section">
        <h1>PLAYBACK TIME / VINYL LENGTH</h1>
        <p>
            Loudness and frequency spectrum directly affect playback times on a vinyl record. 
            Extended playback times may result in the loss of low-end, low volumes and poor quality. 
            For the best quality results, please keep your record sides below 20 minutes.
        </p>
        <p>Recommended playback time for a standard vinyl record:</p>
        <ul>
            <li>12″ 33 RPM - up to 22 minutes per side</li>
            <li>12″ 45 RPM - up to 15 minutes per side</li>
        </ul>
        <LinkButton title="Download cue sheet" />
    </section>
</div>
<style>
	.vinyl_info_container {
        padding: 30px;
	}
    
    .text_section {
        background: var(--secondary-color);
        color: var(--primary-color);
        padding: 20px;
        margin: 30px 0;
    }

    h1 {
        font-size: 15px;
    }

    p {
        font-size: 12px;
    }

    ul {
        margin-bottom: 30px;
        font-size: 12px;
    }

	@media (min-width: 768px) {
        .vinyl_info_container {
            display: flex;
            justify-content: center;
            align-items: center;
	    }

        .text_section {
            margin: 0 30px;
        }

        h1 {
            font-size: 25px;
        }

        p {
            font-size: 18px;
        }

        ul {
            margin-bottom: 30px;
            font-size: 18px;
        }
	}
</style>

