---
import LinkButton from "../ReusableComponents/LinkButton.astro"
---
<div class="container">
    <div class="vinyl_tips_container">
        <section class="tips_section">
            <h1>VINYL MASTERING TIPS</h1>
            <p id="margin_horizontal">
                Vinyl, like any other format, has its own limitations. 
                To make sure your music sounds great on a record, 
                please comply with general mastering for vinyl standards:
            </p>
            <ul id="margin_horizontal">
                <li>Peak Level: 0db</li>
                <li>Low-frequency cut at 10hz</li>
                <li>Low frequencies below 250hz in mono</li>
                <li>Be careful with extreme peaking above 16khz</li>
                <li>No negative phase returns</li>
                <li>Stereo width between +0.5 and 1</li>
                <li>File formatting: .wav / .aif</li>
                <li>Audio quality: 24bit; 44.1- 48Khz</li>
            </ul>
            <LinkButton title="Learn more"/>
        </section>
        <div class="img_container">
            <img src="/frontpageimg.png" alt="">
        </div>
    </div>
</div>
<style>
    .container {
        background: var(--tertiary-color);
        display: flex;
        width: 100%;
    }
    .vinyl_tips_container {
        background: var(--secondary-color);
        color: var(--primary-color);
        margin: 20px 40px;
        padding: 20px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;
        /* height: 80%; */
        max-width: 100%;
    }


    #margin_horizontal {
        margin: 40px 0;
    }

    ul li {
        margin: 10px 0;
    }

    .img_container {
        width: 100%;
    }

    img {
        max-width: 100%;
    }
    @media (min-width: 768px) {
        .vinyl_tips_container {
            flex-direction: row;
        }
        
        .tips_section {
            width: 50%;
        }

        .img_container {
            width: auto;
        }
    }
</style>

