---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";

// Importer komponenter her
import AudioSpecsIntro from "../components/AudioSpecsPageComponents/AudioSpecsIntro.astro";
import VinylMasteringTips from "../components/AudioSpecsPageComponents/VinylMasteringTips.astro";
import VinylInfoSection from "../components/AudioSpecsPageComponents/VinylInfoSection.astro";
import ImageQuote from "../components/AudioSpecsPageComponents/ImageQuote.astro";
import MasteringForVinyl from "../components/AudioSpecsPageComponents/MasteringForVinyl.astro";
import NavigationMenu from "../components/NavigationMenu.astro";
import MobileNav from "../components/MobileNav.astro";
import Footer from "../components/Footer.astro";
// Skriv javascript her
---

<Layout title="Audio specifications">
  <!-- html kode skrives inde i main -->
  <main>
    <NavigationMenu />
    <MobileNav />
    <!-- Indsæt komponenter her  -->
    <AudioSpecsIntro />
    <VinylMasteringTips />
    <VinylInfoSection />
    <ImageQuote />
    <MasteringForVinyl />
  </main>
  <Footer />
</Layout>

<style>
  main {
    width: 100%;
  }
</style>
