---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css'

// Importer komponenter her
import PickAFormat from '../components/GetAQuotePageComponents/PickAFormat.astro'
import PickQuantity from '../components/GetAQuotePageComponents/PickQuantity.astro'

// Skriv javascript her

---

<Layout title="Get a quote">
    <!-- html kode skrives inde i main -->
	<main>
		<h1>VINYL PRESSING PRICES</h1>
	  <!-- Indsæt komponenter her  -->
    <PickAFormat />	
    <PickQuantity />
	</main>
  
    <script>
        // Bruger 'DOMContentLoaded',
        document.addEventListener('DOMContentLoaded', function() {
          const formats = document.querySelectorAll('.format');
    
        // Funktion til at der kommer farve på format når der bliver trykket på det
          formats.forEach(format => {
            // Tilføjer click funktion med add eventlistener
            format.addEventListener('click', function() {
            // Kører et for loop på alle elementer, vha. forEach()
            // Fungere som en form for reset
            // Først fjernes klassen active, der gør at formaterne får farve, fra alle elementer 
              formats.forEach(f => f.classList.remove('active'));
              // Derefter tilføjes klassen active, til det formate der blev trykket på
              format.classList.add('active');
            });
          });
        });
    </script>
</Layout>

<style>
	h1 {
		text-align: center;
		font-size: 20px;
		margin: 50px;
	}


</style>
