---
import Layout from '../layouts/Layout.astro';

// Importer komponenter her
import Card from '../components/Card.astro';

// Skriv javascript her

---

<Layout title="RPM Records">
    <!-- html kode skrives inde i main -->
	<main>

		<h1>RPM Records</h1>
		
	</main>
</Layout>

<style>
	main {
	}
</style>
