---
import Layout from '../layouts/Layout.astro';

// Importer komponenter her


// Skriv javascript her

---

<Layout title="Services">
    <!-- html kode skrives inde i main -->
	<main>

		<h1>Services</h1>
		
	</main>
</Layout>

<style>
	main {
	}
</style>
