---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css'

// Importer komponenter her


// Skriv javascript her

---

<Layout title="Services">
    <!-- html kode skrives inde i main -->
	<main>
		<h1>Services</h1>
		<!-- Indsæt komponenter her  -->	
	</main>
</Layout>

<style>
	main {
	}
</style>
