---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";

// Importer komponenter her
import IntroImg from "../components/SustainabilityPageComponents/IntroImg.astro";
import EcofriendlyMats from "../components/SustainabilityPageComponents/EcofriendlyMats.astro";
import ProductionSection from "../components/SustainabilityPageComponents/ProductionSection.astro";

import NavigationMenu from "../components/NavigationMenu.astro";
import MaterialsSection from "../components/SustainabilityPageComponents/MaterialsSection.astro";

// Skriv javascript her
---

<Layout title="Sustainability">
  <!-- html kode skrives inde i main -->
  <main>
    <NavigationMenu />
    <!-- Indsæt komponenter her  -->
    <IntroImg />
    <EcofriendlyMats />
    <ProductionSection />
    <h1>100% recycled plastic billede her</h1>
    <MaterialsSection />
  </main>
</Layout>

<style>
  main {
  }
</style>

<script>
  function reveal() {
    var reveals = document.querySelectorAll(".reveal");
    for (var i = 0; i < reveals.length; i++) {
      var windowHeight = window.innerHeight;
      var elementTop = reveals[i].getBoundingClientRect().top;
      var elementVisible = 150;
      //
      if (elementTop < windowHeight - elementVisible) {
        reveals[i].classList.add("active");
        reveals[i].classList.add("scale_100");
        reveals[i].classList.add("bar_fill");
      }
      // else {
      //   reveals[i].classList.remove("active");
      // }
    }
  }

  window.addEventListener("scroll", reveal);

  // To check the scroll position on page load
  reveal();
</script>
