---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css'

// Importer komponenter her


// Skriv javascript her

---

<Layout title="Sustainability">
    <!-- html kode skrives inde i main -->
	<main>

		<h1>Sustainability</h1>
		
	</main>
</Layout>

<style>
	main {
	}
</style>
