---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";

// Importer komponenter her
import NavigationMenu from "../components/NavigationMenu.astro";
import SideBar from "../components/VinylPageComponents/SideBar.astro";
import SectionVinyl from "../components/VinylPageComponents/Section.astro";
import SidebarLink from "../components/VinylPageComponents/SidebarLink.astro";
import Footer from "../components/Footer.astro";

// Skriv javascript her
// Hej
---

<Layout title="RPM Records">
  <!-- html kode skrives inde i main -->
  <main>
    <NavigationMenu />
    <!-- Indsæt komponenter her  -->
    <div class="vinylcontainer">
      <SideBar class="stickySidebar">
        <SidebarLink linkId="linkOne" pTekst="How Vinyls Work" imgNavn="/vinyl_ikon.png" altTekst="" class="sideLink" />
        <SidebarLink linkId="linkTwo" pTekst="Producing For Vinyl" imgNavn="/vinyl_ikon.png" altTekst="" />
        <SidebarLink linkId="linkThree" pTekst="Audio Master & Cue Sheet" imgNavn="/vinyl_ikon.png" altTekst="" />
        <SidebarLink linkId="linkFour" pTekst="Mastertemplates & Stampers" imgNavn="/vinyl_ikon.png" altTekst="" />
        <SidebarLink linkId="linkFive" pTekst="Singles & Albums" imgNavn="/vinyl_ikon.png" altTekst="" />
      </SideBar>

      <div class="section_container">
        <div class="sectionTop">
          <img src="/vinylpressing1.webp" alt="" class="vinylHeaderImg" />
          <h1>VINYL PRESSING GUIDE</h1>
          <p>Learn the essentials about making a vinyl release in under 5 minutes. Here you will find everything you need to get started, from the terminology to must-know of the medium. All in a concise and easy to understand format. Let’s get started!</p>
        </div>
        <SectionVinyl header="How Vinyl Works" imgtext="/howvinylworks_icon.png" sectionId="vinylSection1">
          <p>Imagine typing on a A4 size sheet. It’s just a matter of time before you run out of space. Large or heavyweight font and headlines use the sheet quicker. And you have to mind the empty space to prevent letters, lines and paragraphs from tumbling. Thus, a good balance between text, font and space is a key to delightful reading experience.</p>
          <p>It is similar with vinyl, where in recording, a heated stylus vibrates to the music and curves a disc. When you play a record, grooves force a needle to vibrate in the same way, recreating the recording. What there is on a disc is only a pattern of vibrations.</p>
          <h3>Loud Music, Weak Signals</h3>
          <p>While gentle sounds tremble, loud and powerful sounds quake. Limited by the diameter, a disc can contain plenty of trembling and only some quakes. This is like typing on a sheet of paper, where more text requires a smaller font. On vinyl, more or louder music results in a weaker signal. That is why 25 minutes of heavy music on a record side will not be able to vibrate to its full potential. Reminiscing a style that attempts to hit hard but falls short.</p>
          <p>To delve deeper into the intricate relationships between album length, mastering techniques, song sequencing, and overall sound quality, we encourage you to explore this article on our blog.</p>
        </SectionVinyl>

        <SectionVinyl header="Producing For Vinyl" imgtext="/producingforvinyl_ikon.png" sectionId="vinylSection2">
          <p>As you may know by now, every inch counts on a record. To save space, shorten intros, outros and cut other insignificant passages. You will not only save space but time for your listener. It might be tempting to put as many songs on an album as possible. But leaving trivial ones behind will allow best quality for the most important tunes.</p>
          <p>Every disc sounds best at the start and degrades in quality towards the center. Thus, start each side with high intensity and finish with ease. It will allow high definition sound for your major tunes, and will diminish distortion by the end.</p>
          <h3>Frequency Optimization Tips</h3>
          <p>Human ear is insensitive to stereo bass and there is little musical value above 15khz. A record won’t respond well to the range above 15khz or stereo below 200hz either.</p>
          <p>Mix instruments within the vinyl frequency range from the start. And try to achieve rounded and balanced sound with levels and EQ rather than limiting. The album will sound strong and more pleasing on all formats.</p>
        </SectionVinyl>
        <img src="/vinylpressing2.webp" alt="" class="parallaxLayer" />
        <SectionVinyl header="Audio Master & Cue Sheets" imgtext="/audiomaster_ikon.png" sectionId="vinylSection3">
          <p>Vinyl cue sheet is an instructional protocol that describes a project and a song layout. Start and end time determine the visual gaps on a record. Take your time and make sure the cue sheet is flawless to avoid unexpected results.</p>
          <p>While a digital master can work on vinyl, it may also sound terrible. You should always aim for a decent vinyl master. But in case that is not available, let the pressing plant know in the cue sheet.</p>
          <p>If you’re interested in mastering and audio production for vinyl check out this insightful article on our blog. It offers a balanced perspective on achieving exceptional vinyl pressing.</p>
        </SectionVinyl>
        <SectionVinyl header="Masterplates & Stampers" imgtext="masterplates_ikon.png" sectionId="vinylSection4">
          <p>A vinyl master is a single copy 14 inch disc with recorded music, also called a master plate or a master lacquer. There are only two options for a master plate: lacquer or DMM. If you plan a long, very dynamic or a quiet album, choose DMM over lacquer, the record will have less surface noise.</p>
          <p>Sonic qualities of the master plate will remain on the stamper and further in production. Altering audio properties later is a fast rewind to mastering and start over. That is timely and expensive.</p>
          <p>When moving from digital to analog, some detour in the tonal balance may occur. It is unavoidable, but with adequate preparation, however, it will translate fairly close. With plethora of formats to choose from, some albums may sound better on CD, cassette or streaming. And a cost-effective way to test that is a reference cut.</p>
        </SectionVinyl>
      </div>
    </div>
  </main>
  <Footer />
</Layout>

<style>
  main {
    width: 100%;
  }

  h3 {
    padding-top: 32px;
  }

  .vinylcontainer {
    display: grid;
    grid-template-columns: 1fr 4fr;
  }

  .sidebarcontainer {
    position: fixed;
    background-color: #fff;
    grid-column: 1 / 2;
    height: auto;
    width: 240px;
    padding: 40px;
  }

  .stickySidebar {
    top: 0;
  }

  .sectionTop img {
    margin-bottom: 32px;
  }

  .section_container {
    max-width: 1080px;
    padding: 80px;
    color: var(--secondary-color);
    /*margin-left: 320px;*/
  }

  .section_title_flex {
    display: flex;
    gap: 24px;
  }

  .icon_vinyl {
    height: 75px;
    width: 76px;
  }

  .sideLink:active {
    font-weight: 700;
  }

  @media (max-width: 768px) {
    .vinylcontainer {
      grid-template-columns: 1fr;
    }
    .section_container {
      max-width: 1080px;
      padding: 16px;
      margin-left: 0;
    }
  }
</style>

<script>
  // Const
  const sectionOne = document.querySelector("#vinylSection1");
  const sectionTwo = document.querySelector("#vinylSection2");
  const sectionThree = document.querySelector("#vinylSection3");
  const sectionFour = document.querySelector("#vinylSection4");
  const linkOneSidebar = document.querySelector("#linkOne");
  const linkTwoSidebar = document.querySelector("#linkTwo");
  const linkThreeSidebar = document.querySelector("#linkThree");
  const linkFourSidebar = document.querySelector("#linkFour");

  window.addEventListener("load", sidenVises);
  function sidenVises() {
    console.log("sidenVises");
    linkOneSidebar.addEventListener("click", scrollToOne, false);
    linkTwoSidebar.addEventListener("click", scrollToTwo, false);
    linkThreeSidebar.addEventListener("click", scrollToThree, false);
    linkFourSidebar.addEventListener("click", scrollToFour, false);
  }

  // ScrollIntoView function

  function scrollToOne(e) {
    console.log("scrolling Time");
    sectionOne.scrollIntoView({ behavior: "smooth" });
  }

  function scrollToTwo(n) {
    console.log("scrolling Time 2");
    sectionTwo.scrollIntoView({ behavior: "smooth" });
  }

  function scrollToThree(n) {
    console.log("scrolling Time 3");
    sectionThree.scrollIntoView({ behavior: "smooth" });
  }

  function scrollToFour(n) {
    console.log("scrolling Time 4");
    sectionFour.scrollIntoView({ behavior: "smooth" });
  }
</script>
