---
const { header, text, header3, img, alttext } = Astro.props;
---

<div id="section1">
  <div class="section_title_flex">
    <img src={img} alt={alttext} class="icon_vinyl" />
    <h2>{header}</h2>
  </div>
  <p>Imagine typing on a A4 size sheet. It’s just a matter of time before you run out of space. Large or heavyweight font and headlines use the sheet quicker. And you have to mind the empty space to prevent letters, lines and paragraphs from tumbling. Thus, a good balance between text, font and space is a key to delightful reading experience.</p>
  <p>It is similar with vinyl, where in recording, a heated stylus vibrates to the music and curves a disc. When you play a record, grooves force a needle to vibrate in the same way, recreating the recording. What there is on a disc is only a pattern of vibrations.</p>
  <h3>{header3}</h3>
  <p>While gentle sounds tremble, loud and powerful sounds quake. Limited by the diameter, a disc can contain plenty of trembling and only some quakes. This is like typing on a sheet of paper, where more text requires a smaller font. On vinyl, more or louder music results in a weaker signal. That is why 25 minutes of heavy music on a record side will not be able to vibrate to its full potential. Reminiscing a style that attempts to hit hard but falls short.</p>
  <p>To delve deeper into the intricate relationships between album length, mastering techniques, song sequencing, and overall sound quality, we encourage you to explore this article on our blog.</p>
</div>
