---
import "/src/styles/global.css";
const { imgNavn, altTekst, pTekst, idNumber, linkId } = Astro.props;
---

<div class="sidebar_tekst_wrapper" id={linkId}>
  <img src={imgNavn} alt={altTekst} class="sidebar_ikoner" />
  <p class="vinyl_sidebar"><a href="javascript:void(0)">{pTekst}</a></p>
</div>

<style>
  a {
    color: var(--primary-color);
  }
  .sidebar_tekst_wrapper {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  .vinyl_sidebar {
    color: var(--primary-color);
    text-decoration: underline;
  }

  .sidebar_ikoner {
    height: 24px;
    width: 24px;
  }

  .sidebar_tekst_wrapper:hover {
    cursor: pointer;
  }
</style>
