---
import "/src/styles/global.css";
---

<div class="sidebarcontainer">
  <h2>Find a Topic:</h2>
  <div class="sidebarlink_wrapper">
    <slot />
  </div>
</div>

<style>
  .sidebarcontainer {
    position: fixed;
    background-color: #fff;
    grid-column: 1 / 2;
    height: 100%;
    padding: 40px;
  }

  .sidebarcontainer h2 {
    color: var(--primary-color);
  }
</style>
