---

---

<div class="video_background">
  <video autoplay loop muted id="desktopVideo">
    <source src="https://saaa.dk/kea/10_eksamen/rpm_herovideo.webm?fbclid=IwZXh0bgNhZW0CMTAAAR3thma8dF34XzjqtUgkAa0uon5Hrs9BlRl5RESCVCv95EMUuqzF8Ysx-lg_aem_AZLbxpczYLp_i1PvIpgw1I20AYnmoPnKMgQPSnid7D_0PFzyQYH6FFBACHz11-oArT7jtuTFLituNnwx4zj8Ojo3" type="" />
  </video>
  <video autoplay loop muted src="https://sgrondahl.dk/kea/videos/eksamen_to/rpm_mobile.webm" id="mobileVideo"></video>
  <div class="video_overlay"></div>
</div>

<style>
  .video_background {
    width: 100vw;
    /*height: calc(100vh - 80px);*/
    height: 80vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    z-index: -1;
  }

  #mobileVideo {
    display: none;
  }

  #desktopVideo {
    display: block;
  }

  .video_overlay {
    width: 100vw;
    height: 100vh;
    background-color: #161616;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
  }

  .video_background:before {
    background: rgba(255, 0, 255, 0.2);
  }

  .text_container {
    display: flex;
    z-index: 3;
    top: 0;
  }

  .img_container {
    position: relative;
    max-width: 100%;
  }

  .img_cover {
    position: absolute;
    max-width: 100%;
    height: 241px;
    opacity: 60%;
    background-color: rgba(0, 0, 0, 0.8); /* Sort overlay med 50% gennemsigtighed */
  }

  @media (max-width: 768px) {
    #desktopVideo {
      display: none;
    }

    #mobileVideo {
      display: block;
      aspect-ratio: 9/16;
    }
  }
</style>

<!-- Eksempel på komponent  -->
