---

---

<div class="">
  <div class="img_container">
    <div class="img_cover"></div>
    <img src="/frontpageimg.png" alt="" />
  </div>
</div>

<style>
  div {
    width: 100%;
  }

  .img_container {
    position: relative;
    max-width: 100%;
  }

  img {
    width: 100vw;
    height: 241px;
    /* object-fit: cover; */
  }

  .img_cover {
    position: absolute;
    max-width: 100%;
    height: 241px;
    opacity: 60%;
    background-color: rgba(
      0,
      0,
      0,
      0.8
    ); /* Sort overlay med 50% gennemsigtighed */
  }
</style>

<!-- Eksempel på komponent  -->
