---

---

<section class="text_wrapper">
  <div class="text_container">
    <h1>RPM RECORDS</h1>
    <div class="h2div">
      <h2>SCANDINAVIAN SUSTAINABILITY</h2>
      <h2>PRESSED WITH PASSION</h2>
    </div>
  </div>
</section>

<style>
  .text_container {
    padding: 80px;
    color: var(--secondary-color);
  }

  h1 {
    color: var(--accent-color);
    font-size: clamp(60px, 10vw, 120px);
  }
  .text_wrapper {
    height: calc(100vh - 80px);
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
  }
</style>
