---
interface Props {
  title: string;
  mainText: string;
  subText: string;
  svg: string;
}

const { title, mainText, subText, svg } = Astro.props;
---

<section class="reason_container">
  <div class="img_container">
    <img src={svg} alt="" />
  </div>
  <h3>{title}</h3>
  <p>{mainText}</p>
  <p>{subText}</p>
</section>

<style>
  .reason_container {
    display: grid;
    background: var(--secondary-color);
    height: 100%;
    color: var(--primary-color);
    padding: 20px;
    line-height: 1.8;
    margin: 30px 0;
    box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 1);
    border: 3px solid var(--primary-color);
  }

  .img_container {
    display: flex;
    justify-content: center;
    margin: 40px 0;
    height: 100%;
    width: 100%;
  }

  h1 {
    text-transform: uppercase;
  }

  @media (min-width: 768px) {
    .reason_container {
      display: grid;
      width: 100%;
      font-size: 25px;
      height: 100%;
      min-height: 100%;
    }

    img {
      height: 150px;
      width: 150px;
    }
  }
</style>
