---

---

<section class="container">
  <div class="text-section">
    <h1>COPENHAGEN VINYL PRESSING</h1>
    <p>
      As a small record-pressing plant, we handle each order with meticulous
      precision. Our team listens to records throughout production and visually
      inspects every single one. We adapt our services as required and respond
      promptly and efficiently.
    </p>
    <p>
      RPM employees are passionate vinyl enthusiasts, DJs, musicians, and
      producers with diverse tastes in music.We are dedicated to upholding the
      highest quality standards, delivering warm, natural sound, and promoting
      sustainable production practices.
    </p>
    <a href="#" class="read-more">READ MORE</a>
  </div>
  <div class="image-section">
    <img src="/vinylpressingimg.png" alt="" />
  </div>
</section>

<style>
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0 auto;
    padding: 20px;
  }

  .text-section,
  .image-section {
    width: 100%;
    margin-bottom: 20px;
  }

  .text-section h1 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
  }

  .text-section p {
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: center;
  }

  .text-section .read-more {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition:
      background-color 0.3s,
      color 0.3s;
    text-align: center;
  }

  .text-section .read-more:hover {
    background-color: #000000;
    color: #ffffff;
  }

  .image-section {
    display: flex;
    justify-content: center;
  }

  .image-section img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }

  .text-section h1,
  .text-section p,
  .text-section {
    text-align: left;
  }

  @media (min-width: 768px) {
    .container {
      flex-direction: row;
      justify-content: space-around;
      align-items: flex-start;
      width: 100%;
    }

    .text-section {
      width: 40%;
      font-size: 20px;
      line-height: 1.8;
    }
    .image-section {
      width: 40%;
      /* margin-bottom: 0; */
    }
  }
</style>
