---
import "../styles/global.css";
import Knap from "./ReusableComponents/KnapAccent.astro";
import FooterIkon from "./ReusableComponents/FooterIkon.astro";
---

<footer>
  <div class="footer_container">
    <div class="footer_info">
      <a target="_blank" href="https://www.google.com/maps/place/Priorparken+510,+2605+Br%C3%B8ndby/@55.6601747,12.4172789,17z/data=!3m1!4b1!4m6!3m5!1s0x465256d38544fd27:0x347f35076506bfbc!8m2!3d55.6601717!4d12.4198538!16s%2Fg%2F11c5nbk3w9?entry=ttu" class="infobox1">
        <p>Priorparken 510</p>
        <p>2605 Brøndby</p>
        <p>Danmark</p>
      </a>
      <div class="infobox2">
        <p>+45 31 13 84 74</p>
        <p><a href="mailto:contact@rpmrecords.dk">contact@rpmrecords.dk</a></p>
        <p>CVR: 39029006</p>
        <p><a href="mailto:info@rpmrecords.dk">info@rpmrecords.dk</a></p>
      </div>
    </div>
    <div class="logo_wrapper">
      <a href="/">
        <img src="/rpm_logo.svg" alt="RPM records logo" class="rpm_logo" />
      </a>
      <div class="icon_wrapper">
        <FooterIkon source="/youtubeIkon.svg" altTekst="YouTube ikon" href="https://www.youtube.com/@rpmrecords3593" />
        <FooterIkon source="/facebookIkon.svg" altTekst="Facebook ikon" href="https://www.facebook.com/rpmrecords.dk/" />
        <FooterIkon source="/twitterIkon.svg" altTekst="Twitter ikon" href="" />
        <FooterIkon source="/instagram.svg" altTekst="Instagram ikon" href="https://www.instagram.com/rpmrec/" />
        <FooterIkon source="/linkedInIkon.svg" altTekst="LinkedIn ikon" href="https://www.linkedin.com/company/rpm-records-dk/?originalSubdomain=dk" />
      </div>
      <p class="accent_color">FIND US ON OUR SOCIALS</p>
    </div>
    <div class="links_wrapper">
      <div class="footer_button_container">
        <p>Ready to order?</p>
        <Knap href="/getaquote" tekst="Get a Quote" />
      </div>
      <div class="links">
        <a href="/audioSpecs">Audio/Artwork</a>
        <a href="/vinyl">Vinyl Info</a>
        <a href="/sustainability">Sustainability</a>
        <a href="/about">About Us</a>
      </div>
    </div>
  </div>
</footer>

<style>
  a {
    font-size: var(--p-fontsize);
  }
  footer {
    z-index: 44444;
    bottom: 0;
    left: 0;
    height: auto;
    width: 100%;
    background-color: var(--primary-color);
  }

  .footer_container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin: auto;
    padding: 80px 32px;
    max-width: 1920px;
    color: var(--secondary-color);
  }

  .footer_info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 32px;
  }

  .footer_info p {
    margin: 0;
  }

  .logo_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .rpm_logo {
    width: 100%;
    max-width: 344px;
    height: auto;
    max-height: 271px;
    scale: 0.6;
  }

  .icon_wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 48px 0 16px 0;
    gap: 36px;
  }

  .footer_ikon {
    height: auto;
    max-height: 47px;
    min-width: 40px;
    width: 100%;
    max-width: 48px;
  }

  .links_wrapper,
  .links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    gap: 12px;
  }

  .ikon_a {
    display: block;
    height: auto;
    width: 100%;
  }

  .links a:hover {
    color: var(--accent-color);
  }
  /* Media query for mobile */
  @media (max-width: 768px) {
    .footer_container {
      grid-template-columns: 1fr;
      padding: 80px 16px;
      gap: 40px;
    }

    .footer_info {
      justify-content: center;
      align-items: center;
      gap: 32px;
    }

    .infobox1,
    .infobox2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 4px;
    }

    .icon_wrapper {
      width: 100%;
      height: auto;
      padding: 16px 0 16px 0;
    }

    .footer_ikon {
      height: auto;
      width: 100%;
      min-width: 48px;
      max-height: 39px;
      max-width: 40px;
    }

    .links_wrapper,
    .links {
      justify-content: center;
      align-items: center;
      gap: 24px;
    }

    .links_wrapper {
      gap: 80px;
    }

    .links a {
      font-size: 20px;
    }

    .footer_button_container p {
      text-align: center;
    }
  }
</style>
