---

---

<nav class="">
  <div class="mobileMenuWrapper">
    <div class="burger_wrapper">
      <div class="logo">RPM Records</div>
      <div class="toggle">
        <img src="../ikoner/burger-menu.svg" alt="burger menu" class="burger_ikon" />
      </div>
    </div>

    <div class="menu">
      <ul>
        <li><a href="/index">RPM Records</a></li>
        <li><a href="/audioSpecs">Audio/Artwork</a></li>
        <li><a href="/vinyl">Vinyl Info</a></li>
        <li><a href="/sustainability">Sustainability</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/getaquote">Get a quote</a></li>
      </ul>
    </div>
  </div>
</nav>

<style>
  .mobileMenuWrapper {
    width: 100vw;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    padding: 0 16px;
    z-index: 9999999;
  }

  .burger_wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .burger_ikon {
    height: 32px;
    width: 32px;
  }
  .toggle {
    /*position: fixed;
    top: 16px;
    right: 40px;*/
    z-index: 99999999;
    cursor: pointer;
    display: block;
  }

  .logo {
    font-size: 40px;
    color: var(--accent-color);
  }

  .page {
    position: absolute;
    top: 40px;
    left: 20px;
    z-index: 2;
  }

  .page h1 {
    all: unset;
    font-family: "Roboto Condensed", sans-serif;
    color: var(--primary-color);
    font-size: 44px;
    line-height: 46px;
  }

  .page > h1 span {
    font-size: 50px;
  }

  .toggle a {
    text-decoration: none;
    font-size: 40px;
    cursor: pointer;
    color: var(--secondary-color);
  }

  .menu {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background: var(--primary-color);
    z-index: 5;
    transition: 1s;
  }

  .menu ul {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  ul li {
    list-style: none;
  }

  .menu ul li a {
    padding: 10px;
    display: inline-block;
    font-family: verdana;
    font-size: 2em;
    text-decoration: none;
    text-transform: uppercase;
    color: #fcf2e2;
  }

  .menu ul li a:hover {
    opacity: 0.6;
  }

  .menu.active {
    right: 0;
    overflow: auto;
  }
  @media (min-width: 768px) {
    .toggle,
    .mobileMenuWrapper {
      display: none;
    }
  }
</style>

<script>
  // Open navbar
  const nav_btn = document.querySelector(".toggle");
  const dropdown_menu = document.querySelector(".menu");

  nav_btn.addEventListener("click", handleOpenNavbar);

  // Handle open navbar
  function handleOpenNavbar() {
    dropdown_menu.classList.toggle("active");
  }
</script>
