---
import "../styles/global.css";
---

<nav class="navbar">
  <div class="navbar-container">
    <a href="/" class="logo">RPM RECORDS</a>
    <ul class="nav-links">
      <li class="nav-item">
        <a href="/dd"
          >AUDIO/ARTWORK <span class="dropdown-icon">&#9660;</span></a
        >
        <ul class="dropdown">
          <li><a href="/audioSpecs">AUDIO</a></li>
          <li><a href="/artwork">ARTWORK</a></li>
        </ul>
      </li>
      <li class="nav-item"><a href="/vinyl">VINYL INFO</a></li>
      <li class="nav-item">
        <a href="/sustainability">SUSTAINABILITY</a>
      </li>
      <li class="nav-item"><a href="/about">ABOUT US</a></li>
    </ul>

    <a class="button_wrapper" id="buttonId" href="/getaquote">
      <button class="quote-button">Get a Quote</button>
      <img
        src="/arrow-right.svg"
        alt=""
        class="button-icon hide"
        id="arrow_icon"
      />
    </a>
  </div>
</nav>

<script>
  const buttonArrow = document.querySelector("#buttonId");
  const arrowIcon = document.querySelector("#arrow_icon");
  buttonArrow.addEventListener("mouseover", hideRemove);

  function hideRemove() {
    arrowIcon.classList.remove("hide");
    buttonArrow.addEventListener("mouseout", addRemove);
  }
  function addRemove() {
    arrowIcon.classList.add("hide");
  }

  const activeLink = window.location.pathname;
  // console.log("test " + activeLink);
  // Add underline on active link in navigation bar

  document.querySelectorAll("a").forEach((link) => {
    const linkPath = new URL(link.href).pathname;
    // if (link.href.includes(`${activeLink}`)) {
    //   link.classList.add("active_link");
    // }
    if (linkPath === activeLink) {
      link.classList.add("active_link");
    }
  });
</script>
<style>
  .navbar {
    display: none;
  }
  @media (min-width: 768px) {
    .active_link {
      border-bottom: 3px solid white;
      padding-bottom: 10px;
    }
    .navbar {
      display: block;
      position: sticky;
      top: 0;
      left: 0;
      z-index: 333;
      background-color: var(--primary-color);
      padding: 10px 80px;
    }

    .navbar-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .logo {
      color: #fa8072;
      font-family: "Fjalla One", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 2em;
      text-decoration: none;
      margin-right: 40px; /* Adjust the spacing as needed */
    }

    .nav-links {
      list-style: none;
      display: flex;
      flex: 1;
      justify-content: flex-start;
      align-items: center;
      gap: 40px; /* Adjust the spacing between nav items */
    }

    .nav-item {
      position: relative;
    }

    .nav-item a {
      font-family: "Fjalla One", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 18px;
      color: #fff;
      text-decoration: none;
      padding: 5px 10px;
    }

    .nav-item a:hover,
    .nav-item a:focus {
      color: #fa8072;
    }

    .dropdown {
      padding: 0;
      display: none;
      list-style: none;
      position: absolute;
      top: 100%;
      left: 0;
      background-color: rgb(12, 12, 12);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      z-index: 1000;
    }

    .dropdown li {
      width: 150px;
    }

    .dropdown li a {
      display: block;
      padding: 10px;
      color: #fff;
    }

    .dropdown li a:hover {
      background-color: var(--primary-color);
    }

    .nav-item:hover .dropdown {
      display: block;
    }

    .dropdown-icon {
      margin-left: 5px;
    }

    .hide {
      display: none;
      transition: 0.3s ease-in-out all;
    }

    button {
      cursor: pointer;
    }

    /*.quote-button {
      background-color: var(--accent-color);
      color: #fff;
      font-family: "Fjalla One", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 1.5rem;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      margin-left: auto; /* Pushes the button to the far right */ /*    }*/
    /*
    .quote-button:hover,
    .quote-button:focus {
      background-color: #f04333;
    }*/

    .button_wrapper {
      display: flex;
      gap: 8px;
      align-items: center;
      justify-content: center;
      background-color: var(--accent-color);
      color: #fff;
      font-family: "Fjalla One", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 1.5rem;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      margin-left: auto;
      transition: 0.3s ease-in-out all;
    }

    .button_wrapper:hover,
    .button_wrapper:focus {
      background-color: #f04333;
      transition: 0.3s ease-in-out all;
    }
  }
</style>

<!-- Eksempel på komponent  -->
