---

---

<section class="container">
  <h1>CLIENTS</h1>
  <p>
    RPM Records caters to diverse clients globally, from indie artists to major
    labels and distributors across North America, Europe, and Asia. We're known
    for our fast, top-notch service and unwavering fairness to all, irrespective
    of scale or stature.
  </p>
</section>
<style>
  .container {
    padding: 20px;
  }
  h1 {
    text-align: center;
  }

  p {
    line-height: 1.8;
  }
  @media (min-width: 768px) {
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    p {
      width: 30%;
    }
  }
</style>

<!-- Eksempel på komponent  -->
