---

---

<div class="container">
  <div class="img_container">
    <img
      src="/about1.webp"
      alt="Et billede af en RPM RECORDS medarbejder der står og fikser noget ved vinyl maskinen"
    />
  </div>
  <section class="text_section dropShadow stroke">
    <h2>OUR STORY</h2>
    <p>
      We started as a dubplate studio in 2015, cutting limited runs for
      independent artists. By 2018 we acquired our first vinyl press and RPM
      Records was born. Since our founding, we have aspired to produce premium
      quality records faster and more accessible.This way helping independent
      artists and labels to showcase their best work on vinyl.
    </p>
    <p>
      As new generation producers, we approach ecological degradation with
      earnest concern. Thus, paving the way for sustainable production and
      longevity of a clean physical format. All while maintaining some of the
      highest quality standards in the industry.
    </p>
  </section>
</div>

<style>
  h1,
  h2,
  p {
    color: var(--primary-color);
  }
  .container {
    height: 100vh;
    width: 100%;
    padding: 8px;
    background: var(--tertiary-color);
    background-image: url("../img/rpm_purple_bg.webp");
  }

  .img_container {
    width: 100%;
    height: 200px;
    margin: 40px 0;
    display: flex;
    justify-content: center;
  }

  img {
    max-width: 70%;
    border: 3px solid black;
    box-shadow: 4px 6px 5px 0px rgba(0, 0, 0, 1);
  }

  .text_section {
    padding: 16px;
    width: 90%;
    background: var(--secondary-color);
    color: var(--primary-color);
    line-height: 1.6;
    border: 3px solid black;
    height: fit-content;
  }

  @media (min-width: 768px) {
    .container {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .text_section {
      justify-self: center;
      align-self: center;
      padding: 24px 40px;
      margin-right: 80px;
    }
    .img_container {
      width: 100%;
      max-height: 620px;
      height: auto;
      justify-self: center;
      align-self: center;
    }
  }
</style>
