---

---

<div class="container">
  <div class="qm_wrapper">
    <div class="qm dropShadow stroke">
      <h2>QUALITY MANAGEMENT</h2>
      <p>RPM Records is devoted to the enduring vinyl tradition, modern technology and deep understanding of production methods. We uphold top quality standards on the manufacturing floor and throughout the supply chain.</p>
    </div>
    <div class="img_container dropShadow stroke">
      <img src="/quality_management.jpg" alt="" />
    </div>
  </div>
  <div class="text_section dropShadow stroke">
    <h2>OUR STORY</h2>
    <p>RPM Records is devoted to the enduring vinyl tradition, modern technology and deep understanding of production methods. We uphold top quality standards on the manufacturing floor and throughout the supply chain. Here is how we do it:</p>

    <ul>
      <li>EXCEPTIONAL QUALITY CONTROL:</li>
      <p>Our rigorous standards guarantee defect-free records, meticulously inspecting each one by hand to eliminate skipping, warping, and noise.</p>
      <li>HIGH QUALITY STANDARDS:</li>
      <p>Utilizing modern technology, we deliver visually and sonically superior records with low noise levels, perfect centering, and consistent quality, preserving the rich, natural sound of vinyl's heyday.</p>
      <li>PARTNER NETWORK:</li>
      <p>Leveraging over 30 years of experience and cutting-edge equipment from our professional mastering partners, we ensure the highest sound quality across all music genres.</p>
      <li>CUSTOMER SERVICE:</li>
      <p>Our friendly and knowledgeable staff provides prompt assistance, dedicated to helping you create the optimal product.</p>
    </ul>
  </div>
</div>
<style>
  .container {
    display: grid;
    grid-template-columns: 1fr;
    height: auto;
    width: 100%;
    gap: clamp(16px, 2vw, 32px);
    padding: clamp(80px, 4vw, 160px) clamp(16px, 2vw, 160px);
    background-image: url("../img/rpm_purple_bg.webp");
  }

  .qm_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    min-height: 100%;
  }

  .qm {
    background: var(--secondary-color);
    padding: 32px;
  }

  .img_container {
    width: 100%;
    height: auto;
  }

  h2,
  p,
  li {
    color: var(--primary-color);
  }

  li {
    font-weight: 700;
    margin-top: 16px;
  }

  .text_section {
    background: var(--secondary-color);
    padding: 32px;
  }

  @media (min-width: 768px) {
    .container {
      grid-template-columns: 1fr 1fr;
      gap: clamp(16px, 2vw, 32px);
      padding: clamp(40px, 10vw, 160px);
    }
    .text_section {
    }

    .qm_wrapper {
    }

    li {
      margin-top: 32px;
    }

    p {
    }
    .img_container {
    }
  }
</style>
