---
// const url = "https://ifcawdlucobohfnmrxmg.supabase.co/rest/v1/clients";
const apikey = `eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlmY2F3ZGx1Y29ib2hmbm1yeG1nIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTU5NDU3OTcsImV4cCI6MjAzMTUyMTc5N30.Tncixva_zJhjtqjW-cBPr9RFrDbPfLxGtp5c9EhnIn4`;

const res = await fetch(
  `https://ifcawdlucobohfnmrxmg.supabase.co/rest/v1/projects?apikey=${apikey}`
);
const data = await res.json();
---

<section class="container">
  <h1>OUR RECENT PROJECTS</h1>
  <div class="img_section">
    {
      data.map((t) => (
        <div class="image_container">
          <img src={t.image} alt="" />
        </div>
      ))
    }
  </div>
</section>
<style>
  .container {
    padding: 20px;
    margin: 100px 0;
    color: var(--secondary-color);
  }

  h1 {
    text-align: center;
    margin: 40px 0;
  }

  .img_section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    position: relative;
    height: 100%;
  }

  img.container {
    width: 50%;
  }

  img {
    max-width: 100%;
  }

  @media (min-width: 768px) {
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    h1 {
      margin: 100px 0;
    }

    .img_section {
      width: 50%;
      grid-template-columns: repeat(4, 1fr);
      place-items: center;
    }
  }
</style>
