---
import InputField from "./InputField.astro";
---

<form class="input_container">
  <InputField placeholder="First name:" label="First name:" />
  <InputField placeholder="Last name:" label="Last name:" />
  <InputField placeholder="Company name:" label="Company name:" />
  <InputField placeholder="Your email:" label="Email:" />
</form>
<style>
  main {
  }
</style>

<!-- Eksempel på komponent  -->
