---
interface Props {
  placeholder: string;
  label: string;
}

const { placeholder, label } = Astro.props;
---

<div class="container">
  <label for={label}>{label}</label>
  <input type="text" name={label} placeholder={placeholder} id="" />
</div>
<style>
  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
  }

  label {
    font-size: 24px;
  }

  input {
    margin: 10px 0;
    padding: 15px 5px;
    border: 1px solid #686868;
    font-size: 20px;
  }

  input::placeholder {
    color: var(--primary-color);
  }

  input:focus {
    outline: none;
  }

  @media (min-width: 768px) {
    input {
      width: 100%;
    }
  }
</style>

<!-- Eksempel på komponent  -->
