---

---

<section class="amount_section">
  <h1>Quantity:</h1>
  <p>How many records would you like to press?</p>
  <select id="">
    <option>Select</option>
    <option>10</option>
    <option>20</option>
    <option>50</option>
  </select>
</section>
<style>
  .amount_section {
    margin-bottom: 10px;
    padding: 20px;
  }
  label {
    display: block;
    margin-bottom: 5px;
  }

  select {
    all: unset;
    background: var(--primary-color);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 20px 0;
    box-sizing: border-box; /* Inkluderer padding og border i bredden */
  }

  option {
    /* color: var(--primary-color); */
  }
</style>
